

video {
 width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
   filter:opacity(200%)
}


.App {

    background-color: rgba(255, 255, 255, 0.5);

}

.container{
  display: flex;
  justify-content: center;

}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #40534C;
  box-shadow: inset 0px 0px 0px 4px #D6BD98;
  }
 .list{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
 }
 li{
  background-color: #D6BD98;
  padding: 10px;
  margin: 10px;
 }
 h1,h2,ul,p{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  color:#1A3636;
 }
 
 h1{
  font-size: 40px;
 }
 .icon {
  width: 30px;
  }
  button {
    margin-top: 10px;
    border-radius: 12px;
    border: none;
    background-color: #D6BD98;
    }

    